@font-face {
  font-family: Gagalin;
  src: url("../public/fonts/Gagalin-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}